#paymentPage {
  margin: 0 $page-spacing;
  width: 100%;
  max-width: 900px;

  .card-actions {
    display: flex;
    justify-content: space-around;
  }

  & > header {
    padding-bottom: $container-spacing-large;
  }

  table {
    width: 100%;
  }

  table {
    td,
    th {
      &:not(:first-child) {
        text-align: center;
      }

      &:not(:last-child) {
        padding-right: $section-spacing;
      }
    }
  }

  tr:not(:last-child) td {
    border-bottom: 1px solid $light-grey;
  }

  td {
    padding: 20px 0;
  }

  th {
    padding-bottom: $container-spacing-large;
  }

  h3 {
    margin-bottom: $container-spacing-large;
  }

  #alternativePayment {
    li {
      display: inline-block;
    }

    input {
      border: 1px solid $light-grey;
      padding: $item-spacing $item-spacing-small;
      border-radius: 4px;
      margin-right: $item-spacing;
      outline: none;
      cursor: pointer;

      &:hover {
        border-color: $light-orange;
      }
    }
  }

  .panel {
    margin-bottom: $section-spacing;
  }

  #addCard {
    display: flex;
    justify-content: center;
    margin-top: $container-spacing-large;
  }

  #cardFields {
    form {
      display: flex;
      align-items: flex-end;
      justify-content: flex-start;

      & > div {
        display: flex;
        flex-direction: column;
        margin-right: $container-spacing-large;
        flex: 1;

        label {
          margin-left: 0;
          padding-bottom: $item-spacing-small;
          font-weight: 600;
        }
      }
    }

    .form-input-text {
      margin: 0;
    }

    & > :last-child {
      display: flex;
      padding-top: $section-spacing;
      justify-content: center;
    }
  }
}
