// Max width of page content
$page-max-width: 1280px;

// Used for large spacing inside a section
$section-spacing: 40px;

// Used to separate grouped items
$item-spacing-small: 8px;

// Used to separate grouped items
$item-spacing: 15px;

// default spacing for the contents of items in a large container
$container-spacing-large: 20px;

// default spacing for the contents of items in a container
$container-spacing: 10px;

// spacing for contents of a small container
$container-spacing-small: 6px;

// Large spacing for sections on a page
$page-spacing: 60px;
